<footer>
    <script src="scripts/login.js"></script>
    <script src="scripts/feedback.js"></script>
    <section>
        <div class="footer-personal-signature">
            <p>Тимур Хапчаев © <span id="current-year">2024</span></p>
        </div>
    </section>
    <section>
        <span class="page-load-time">[page-load-client-time: <span id="page-load-client-time-value">0</span> ms]</span>
    </section>
    <section>
        <span class="page-load-time">[page-load-server-time: <span id="page-load-server-time-value">0</span>]</span>
    </section>
    <section>
        <span class="page-timer">[page-timer: <span id="page-timer-value">0</span> s]</span>
    </section>
</footer>
