<form class="login-form">
    <div>
        <label for="username" style="font-size: 14px">Имя пользователя:</label>
        <input type="text" id="username" name="username" required class="login-form-username">
    </div>
    <div>
        <label for="password" style="font-size: 14px">Пароль:</label>
        <input type="password" id="password" name="password" required class="login-form-password">
    </div>
    <button type="submit" class="login-button">Войти</button>
</form>
