<nav>
    <ul class="navigation-bar">
        <li><a id="index" href="/">Главная</a></li>
        <li><a id="catalog" href="catalog">Каталог</a></li>
        <li><a id="top-of-the-week" href="top-of-the-week">Топ за неделю</a></li>
        <li><a id="feedback" href="feedback">Отзывы</a></li>
        <li><a id="cart" href="cart">Корзина</a></li>
        <li><a id="about-us" href="about-us">О нас</a></li>
        <li><a id="contacts" href="contacts">Контакты</a></li>
    </ul>
</nav>