{{!< layouts/main}}
<main>
    <section>
        <div class="about-us">
            <p>
                Команда Читай.ru была основана в 2023 году и с гордостью представляет каталог из
                качественной литературы на любой вкус. Наша цель — сделать чтение доступным и
                увлекательным для каждого. Мы стремимся предложить нашим клиентам лучшие
                произведения мировой литературы, новинки от известных авторов и эксклюзивные
                издания. Наша команда всегда готова помочь с выбором и ответить на любые вопросы. Мы любим
                книги и делаем всё возможное, чтобы нашим клиентам было приятно с нами работать.
                Спасибо, что выбрали наш магазин!
            </p>
        </div>
    </section>
</main>
