{{!< main}}
<main>
    <section>
        <h2 class="cart-header">Ваша корзина</h2>
        <div class="cart-items" id="cart-items"></div>
        <div class="checkout-form">
            <form id="checkout-form">
                <button type="submit" class="cart-create-order-button">Оформить заказ</button>
            </form>
        </div>
    </section>
</main>